@tailwind base;
@tailwind components;
@tailwind utilities;

/* General button styling */
.btn {
  @apply py-2 px-4 rounded font-body font-medium transition-all;
}

/* Grid system improvements */
.grid {
  display: grid;
  gap: 1.5rem; /* Spacing between cards */
  padding: 1rem; /* Extra padding for spacing on small screens */
}

/* Project card design */
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 0.5rem; /* Smooth rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Softer shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Project card hover effects */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 172, 193, 0.5); /* Blue-tinted hover shadow */
}

/* Badge styles */
.badge {
  background-color: #80deea; /* Slightly darker blue for badges */
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.875rem;
  color: #004d40;
}

.badge:hover {
  background-color: #4dd0e1;
}


/* Hover overlay styling for the "View Project" button */
.card .overlay {
  @apply absolute inset-0 flex items-center justify-center bg-black/70 opacity-0 transition-opacity rounded-lg;
}

.group:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

/* Button inside the overlay */
.overlay .btn {
  @apply bg-pink-500 text-white hover:bg-pink-600;
}

#mock-content {
  transition: opacity 0.3s ease-in-out;
}

