---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="relative w-full flex-col justify-start items-center pattern">

	</main>
</Layout>

<style>

</style>
