---
import Layout from '../layouts/Layout.astro';
import Navbar   from '../components/Navbar.astro';
import Overview   from '../components/Overview.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Welcome to Astro." >
	<div slot="navbar">
		<Navbar />
	</div>

	<Overview />

	<div slot="footer">
		<Footer />
	</div>
<Layout>
