---

---
<footer class="flex flex-col items-center py-8 dark:bg-black bg-opacity-50 dark:text-white px-6">
    <h2 class="text-lg font-semibold">Contact</h2>
    <div class="flex gap-4 mt-2">
        <p>Email: imran.khan@softwareengineer.com</p>
        <p>Linkedin: https://www.linkedin.com/in/imran-khan-se/</p>
        <p>Github: https://github.com/ImranK1506</p>
    </div>
</footer>