---

---
<footer class="flex flex-col items-center py-8 dark:bg-black bg-opacity-50 dark:text-white px-6">
    <h2 class="text-lg font-semibold">Contact</h2>
    <div class="flex flex-col sm:flex-row flex-wrap gap-2 sm:gap-4 mt-2 text-center sm:text-left">
        <p>Email: <a href="mailto:imran.khan@softwareengineer.com" class="underline hover:text-primary">imran.khan@softwareengineer.com</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/imran-khan-se/" class="underline hover:text-primary" target="_blank">linkedin.com/in/imran-khan-se/</a></p>
        <p>GitHub: <a href="https://github.com/ImranK1506" class="underline hover:text-primary" target="_blank">github.com/ImranK1506</a></p>
    </div>
</footer>
