---
interface Props {
  utl: string;
  title: string;
  description: string;
}

const { url, title, description } = Astro.props;
---

<div class="
  mockup-browser border shadow-xl w-full
  max-w-xs sm:max-w-md md:max-w-lg lg:max-w-5xl
  h-[400px] sm:h-[500px] md:h-[600px] lg:h-[600px] overflow-hidden">
    <!-- Toolbar -->
    <div class="mockup-browser-toolbar">
        <div id="mock-url" class="input">{url}</div>
    </div>
    <!-- Content -->
    <div id="mock-content" class="flex justify-center px-4 py-16 p-6 h-full bg-gray-800">
        <article class="prose lg:prose-xl">
            <h3 class="font-body">{title}</h3>
            <p class="font-body">{description}</p>
        </article>
    </div>
</div>
