---
import { SiStencil } from "react-icons/si";
import { FaReact } from "react-icons/fa";
import { FaAngular } from "react-icons/fa";
import { FaVuejs } from "react-icons/fa";
import { SiAstro } from "react-icons/si";
import { FaNodeJs } from "react-icons/fa";
import { FaYarn } from "react-icons/fa";
import { FaNpm } from "react-icons/fa";
import { SiTypescript } from "react-icons/si";
import { FaGitAlt } from "react-icons/fa";
import { SiJest } from "react-icons/si";
import { FaJenkins } from "react-icons/fa";
import { FaAws } from "react-icons/fa";

---

<!--<div class="p-4 flex items-center justify-between">-->
<!--    &lt;!&ndash; Logo Placeholder &ndash;&gt;-->
<!--    <div class="flex items-center">-->
<!--        <div class="w-12 h-12 bg-neutral rounded-full flex items-center justify-center text-neutral-content">-->
<!--            LOGO-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Icon Grid &ndash;&gt;-->
<!--    <div class="flex-grow flex justify-center text-black">-->
<!--        <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-12 gap-4 place-items-center">-->
<!--            <SiStencil className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />-->
<!--            <FaReact className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />-->
<!--            <FaAngular className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />-->
<!--            <FaVuejs className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />-->
<!--            <SiAstro className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />-->
<!--            <FaNodeJs className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />-->
<!--            <FaYarn className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />-->
<!--            &lt;!&ndash;<FaNpm className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />&ndash;&gt;-->
<!--            <SiTypescript className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />-->
<!--            <FaGitAlt className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />-->
<!--            <SiJest className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />-->
<!--            <FaJenkins className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />-->
<!--            <FaAws className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<header class="relative flex items-center justify-between bg-base-300 px-4 h-full">
    <!-- Logo Placeholder -->
    <div class="absolute left-4 top-1/2 -translate-y-1/2 flex items-center space-x-2">
        <div class="w-12 h-12 bg-neutral rounded-full flex items-center justify-center text-white">
            Logo
        </div>
    </div>
    <div class="flex-grow flex justify-center text-black">
        <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-12 gap-4 place-items-center">
            <SiStencil className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaReact className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaAngular className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaVuejs className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <SiAstro className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaNodeJs className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaYarn className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <!--<FaNpm className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />-->
            <SiTypescript className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaGitAlt className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <SiJest className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaJenkins className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaAws className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
        </div>
    </div>
</header>
