---
import { SiStencil } from "react-icons/si";
import { FaReact } from "react-icons/fa";
import { FaAngular } from "react-icons/fa";
import { FaVuejs } from "react-icons/fa";
import { SiAstro } from "react-icons/si";
import { FaNodeJs } from "react-icons/fa";
import { FaYarn } from "react-icons/fa";
import { FaNpm } from "react-icons/fa";
import { SiTypescript } from "react-icons/si";
import { FaGitAlt } from "react-icons/fa";
import { SiJest } from "react-icons/si";
import { FaJenkins } from "react-icons/fa";
import { FaAws } from "react-icons/fa";

---

<header class="shadow-lg px-6 py-4 grid grid-cols-[auto_1fr] items-center dark:bg-black bg-opacity-50 dark:text-white">
    <!-- Logo Placeholder -->
    <div class="flex items-center space-x-2">
        <div class="w-12 h-12 bg-neutral rounded-full flex items-center justify-center text-white font-bold">
            Logo
        </div>
    </div>
    <div class="flex justify-center space-x-4">
        <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-12 gap-12 place-items-center">
            <SiStencil className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaReact className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaAngular className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaVuejs className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <SiAstro className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaNodeJs className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaYarn className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <!--<FaNpm className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />-->
            <SiTypescript className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaGitAlt className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <SiJest className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaJenkins className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaAws className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
        </div>
    </div>
</header>
