---
import { SiStencil } from "react-icons/si";
import { FaReact } from "react-icons/fa";
import { FaAngular } from "react-icons/fa";
import { FaVuejs } from "react-icons/fa";
import { SiAstro } from "react-icons/si";
import { FaNodeJs } from "react-icons/fa";
import { FaYarn } from "react-icons/fa";
import { FaNpm } from "react-icons/fa";
import { SiTypescript } from "react-icons/si";
import { FaGitAlt } from "react-icons/fa";
import { SiJest } from "react-icons/si";
import { FaJenkins } from "react-icons/fa";
---

<div class="bg-base-300 p-4 flex items-center justify-between">
    <!-- Logo Placeholder -->
    <div class="flex items-center">
        <div class="w-12 h-12 bg-neutral rounded-full flex items-center justify-center text-neutral-content">
            LOGO
        </div>
    </div>

    <!-- Icon Grid -->
    <div class="flex-grow flex justify-center">
        <div class="grid grid-cols-3 gap-4 place-items-center">
            <SiStencil className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaReact className="w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
        </div>
    </div>
</div>
