---
import { SiStencil } from "react-icons/si";
import { FaReact } from "react-icons/fa";
import { FaAngular } from "react-icons/fa";
import { FaVuejs } from "react-icons/fa";
import { SiAstro } from "react-icons/si";
import { FaNodeJs } from "react-icons/fa";
import { FaYarn } from "react-icons/fa";
import { SiTypescript } from "react-icons/si";
import { FaGitAlt } from "react-icons/fa";
import { SiJest } from "react-icons/si";
import { FaJenkins } from "react-icons/fa";
import { FaAws } from "react-icons/fa";
import logo from "../assets/logo.jpg";

---

<header class="shadow-lg px-6 py-4 flex flex-col sm:grid sm:grid-cols-[auto_1fr] items-center gap-4 dark:bg-black bg-opacity-50 dark:text-white">
    <!-- Logo Section -->
    <div class="flex justify-center items-center h-full">
        <div class="avatar">
            <div class="w-16 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                <img src={logo.src} alt="Logo" />
            </div>
        </div>
    </div>

    <!-- Icons Section -->
    <div class="flex justify-center">
        <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-12 gap-12 place-items-center">
            <SiStencil className="hidden sm:block w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaReact className="hidden sm:block w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaAngular className="hidden sm:block w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaVuejs className="hidden sm:block w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <SiAstro className="hidden sm:block w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaNodeJs className="hidden sm:block w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaYarn className="hidden sm:block w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <SiTypescript className="hidden sm:block w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaGitAlt className="hidden sm:block w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <SiJest className="hidden sm:block w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaJenkins className="hidden sm:block w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
            <FaAws className="hidden sm:block w-8 h-8 sm:w-12 sm:h-12 md:w-16 md:h-16" />
        </div>
    </div>
</header>

