---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }
---

<!--<main class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 bg-base-200 p-4 place-items-center">-->
<main class="flex-1 flex items-center justify-center bg-base-200 p-4">
	<!--{projects.map((project) => (-->
	<div class="card bg-base-100 shadow-md p-6 rounded-lg max-w-2xl w-full">
			<h2 class="text-xl font-bold text-center">Welcome to my Front End Portfolio</h2>
			<p class="mt-2 text-center">Here is an overview of my latest work</p>
		</div>
	<!--))}-->
</main>
