---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }
---

<main class="flex-grow flex items-center justify-center p-6">
	<div class="card bg-base-300 shadow-md p-6 rounded-lg max-w-10xl w-full flex flex-col md:flex-row items-center justify-center gap-6 text-center">
		<!-- Text Section -->
		<div class="flex-1">
			<h2 class="text-xl font-bold">Welcome to my Front End Portfolio</h2>
			<p class="mt-2">Here is an overview of my latest work</p>
		</div>

		<!-- Mock Browser Section -->
		<div class="mockup-browser bg-base-300 border flex-1 max-w-8xl w-full h-[800px]">
			<div class="mockup-browser-toolbar">
				<div class="input">https://daisyui.com</div>
			</div>
			<div class="bg-base-200 flex justify-center px-4 py-16">Hello!</div>
		</div>
	</div>
</main>

