---
import '../styles/global.css';
---

<!doctype html>
<html lang="en" data-theme="forest">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!--<title>{title}</title>-->
	</head>
	<div class="p-4">
		<button class="btn btn-accent btn-outline">Primary</button>
		<button class="btn btn-secondary">Secondary</button>
	</div>
</html>
